* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  position: relative;
  background: #E0E1E2 url("/img/brain-chip-icon.png") no-repeat fixed top right;
  background-size: contain;
  font-family: "Raleway";
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85px;
  padding: .5rem;
  padding-bottom: .7rem;
  background-color: rgba(190, 201, 217, 0.95);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main-nav__logo {
  width: auto;
  height: 90px;
  margin-left: 30px;
}

.main-nav .main-menu {
  height: 100%;
  width: auto;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style: none;
}

.main-nav .main-menu__menu-item {
  margin: auto 20px;
}

.main-nav .main-menu__link {
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  font-family: "Raleway";
  font-size: 28px;
  color: #34558B;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-nav .main-menu__link:hover {
  color: #34466C;
}

.main-nav .main-menu__link::before {
  content: "";
  display: block;
  height: 2px;
  background-color: #34466C;
  position: absolute;
  top: 0;
  width: 0%;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.main-nav .main-menu__link:hover::before {
  width: 60%;
}

.main-nav .menu-hamburger {
  display: none;
  margin-right: 30px;
}

.main-nav .menu-hamburger__line {
  height: 3px;
  width: 30px;
  background-color: #34558B;
  margin: 5px;
}

.btn {
  background-color: #FF6F64;
  border: 1px solid #FF6F64;
  height: 45px;
  width: 150px;
  color: #FFFFFF;
  font-family: "Merriweather";
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.3);
          box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.3);
  font-size: 12px;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #E0E1E2;
  border-color: #E0E1E2;
  color: #FF6F64;
  -webkit-box-shadow: 2px 2px 15px rgba(1, 1, 1, 0.3);
          box-shadow: 2px 2px 15px rgba(1, 1, 1, 0.3);
  cursor: pointer;
}

.btn--nav {
  font-size: 20px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  padding: 2rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(67, 97, 145, 0.7)), to(#34558B));
  background: linear-gradient(rgba(67, 97, 145, 0.7), #34558B);
  color: #FFFFFF;
}

.main-header .header-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .header {
  width: auto;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 34%;
      grid-template-columns: 33% 33% 34%;
  -ms-grid-rows: 33% 33% 1fr;
      grid-template-rows: 33% 33% 1fr;
  grid-gap: 0 10px;
}

.main-header .header__main {
  font-family: "Oswald";
  font-size: 120px;
  font-weight: 400;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  line-height: .7;
}

.main-header .header__sub-header1 {
  font-family: "Raleway";
  font-size: 35px;
  text-align: right;
  line-height: .74;
}

.main-header .header--tax {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.main-header .header--legal {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.main-header .header__sub-header2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-family: "Merriweather";
  font-size: 47px;
  color: #6EBAF6;
  letter-spacing: 3px;
}

.main-header .call-to-action {
  height: 80%;
  width: auto;
  padding: 50px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-header .call-to-action__par {
  width: 42%;
  height: auto;
  font-size: 16px;
  margin: 20px;
  line-height: 1.4;
}

@media (min-width: 1919px) {
  .main-header .call-to-action__par {
    font-size: 28px;
  }
}

.main-header .call-to-action__btn {
  margin-left: calc(45% - 150px);
}

.main {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
}

.sidebar {
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 2rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
          box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
}

.sidebar__section {
  margin: 2rem auto;
}

.sidebar__title {
  position: relative;
  color: #34558B;
  font-family: "Oswald";
  font-size: 28px;
  margin: 1.5rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.sidebar__title::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  display: block;
  background-color: #34558B;
  margin-top: 5px;
}

.authors__summary {
  margin-top: 1rem;
}

.authors__name {
  position: relative;
  display: block;
  background-color: #FF6F64;
  height: 85px;
  padding: 1.5rem 0;
  color: #FFFFFF;
  font-family: "Oswald";
  font-weight: 200;
  letter-spacing: .05rem;
  text-align: center;
}

.authors__name::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 20%;
  left: 13%;
  width: 40%;
  margin-top: 15px;
}

.authors__bio {
  background-color: #34558B;
  color: white;
  padding: 2rem 1.5rem;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: 200;
  margin-top: -.5rem;
  font-size: 12px;
}

.authors__img {
  width: 100%;
  height: auto;
}

.latest-post {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3vh 3vw;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest-post__box--hpg {
  height: 80%;
  -webkit-box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
          box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
}

.post-info {
  background-color: #34558B;
  height: 80%;
  width: 40%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-info__title {
  position: relative;
  font-family: "Oswald";
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2;
  padding: 20px;
  padding-top: 0;
}

.post-info__title::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #FF6F64;
  position: absolute;
  bottom: 0;
  left: inherit;
  width: 40%;
  margin-top: 5vw;
}

.post-info__subtitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.post-info__subtitles--posts {
  text-align: center;
  margin: 1.5rem 0;
}

.post-info__date-author {
  color: white;
  display: inline-block;
  font-size: 10px;
  font-family: "Merriweather";
  font-weight: 200;
}

.post-info__date-author--posts {
  color: #FF6F64;
}

.post-info__icon {
  display: inline-block;
  margin-left: 5px;
}

.post-info__icon--posts {
  color: #FF6F64;
}

.abstract {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  background-color: #FFFFFF;
}

.abstract__par {
  width: 70%;
  line-height: 1.3;
  margin: 1rem;
}

.latest-posts {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latest-posts--archives {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.latest-posts__abstract {
  width: 48%;
  padding: 1.5rem;
  -webkit-box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
          box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
  background-color: #FFFFFF;
  margin-left: 5px;
  margin-top: 5px;
}

.latest-posts__title {
  color: #34558B;
  font-family: "Oswald";
  font-size: 28px;
  margin: .5rem;
  line-height: 1.2;
}

.latest-posts__details {
  display: inline-block;
}

.latest-posts__par {
  margin: 1.5rem .5rem;
  line-height: 1.6;
}

.latest-posts__btn {
  margin-left: 53%;
  margin-bottom: .5rem;
}

.footer {
  height: auto;
  background-color: #34558B;
  color: #6EBAF6;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.footer__title {
  font-family: "Oswald";
  font-size: 10px;
  margin-bottom: 1rem;
}

.footer__link-wrapper {
  margin: .8rem 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__link-wrapper:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.footer__link {
  font-family: "Oswald";
  color: #6EBAF6;
}

.footer__address-link {
  color: #6EBAF6;
}

.footer__know-us {
  width: 30%;
}

.footer__know-us-par {
  width: 60%;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.5;
}

.footer__find-us {
  width: 7%;
}

.footer__icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1600px) {
  .main-header .header__sub-header1 {
    font-size: 35px;
  }
  .main-header .header__sub-header2 {
    text-align: center;
    margin-left: 1px;
    font-size: 83px;
  }
  .main-header .header__main {
    font-size: 215px;
    font-weight: 500;
  }
  .main-header .call-to-action {
    width: 85%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .header .call-to-action {
    padding: 0;
    margin: 0;
  }
  .header .call-to-action__par {
    width: 60%;
  }
  .main {
    -ms-grid-columns: 25% auto;
        grid-template-columns: 25% auto;
  }
  .post-info__subtitles {
    width: 100%;
  }
  .latest-posts__btn {
    margin-left: 20%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .main-nav .main-menu {
    margin: 0;
    position: absolute;
    right: 0;
    top: 84px;
    height: calc(100vh - 84px);
    width: 72.5vw;
    background-color: rgba(190, 201, 217, 0.95);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .main-nav .main-menu__link {
    height: 100%;
    width: 100%;
  }
  .main-nav .main-menu__menu-item {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 36px;
    opacity: 0;
  }
  .main-nav .main-menu__menu-item--blog {
    width: 100%;
    height: 21%;
    margin-top: 0;
  }
  .main-nav .main-menu__menu-item--btn {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 200;
    font-family: "Oswald";
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-nav .main-menu__menu-item--btn:hover {
    color: #FF6F64;
  }
  .main-nav .menu-hamburger {
    display: block;
    cursor: pointer;
  }
  .main-nav .menu-hamburger__line {
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
  }
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .main-header .header-container {
    margin-top: 84px;
  }
  .main-header .header {
    margin: 0;
  }
  .main-header .call-to-action {
    padding: 0;
    width: 50%;
  }
  .main-header .call-to-action__par {
    width: 100%;
  }
  .main-header .call-to-action__btn {
    margin-left: calc(100% - 150px);
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .post-info {
    padding: 47px;
  }
  .main .post-info__subtitles {
    width: 100%;
  }
  .main .post-info__subtitles div {
    margin-top: 15px;
  }
  .main .abstract {
    padding: .85rem;
  }
  .main .abstract__par {
    font-size: .85rem;
    line-height: 1.4;
  }
  .main .latest-post {
    height: auto;
    padding: 5vh 3vw;
  }
  .latest-posts__btn {
    margin-left: 45%;
  }
}

.main-nav .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.main-nav .menu-hamburger__line:first-child.toggle {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.main-nav .menu-hamburger__line:nth-child(2).toggle {
  opacity: 0;
}

.main-nav .menu-hamburger__line:last-child.toggle {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@-webkit-keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .main-nav .main-menu {
    height: calc(80vh - 83px);
  }
  .main-header {
    padding: 5rem 0;
  }
  .main-header .header__main {
    font-size: 85px;
  }
  .main-header .header__sub-header1 {
    font-size: 21px;
    font-weight: 400;
  }
  .main-header .header__sub-header2 {
    font-size: 31px;
    letter-spacing: 3px;
  }
  .main-header .call-to-action {
    margin: 0;
  }
  .main-header .call-to-action__par {
    width: 63%;
    margin: 30px auto;
  }
  .main-header .call-to-action__btn {
    margin: 0 auto;
  }
  .main .latest-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .post-info, .main .abstract {
    width: 90%;
  }
  .main .post-info {
    padding: 50px 20px;
  }
  .main .post-info__title {
    font-size: 24px;
  }
  .main .post-info__subtitles {
    margin-top: 1rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main .post-info__icon {
    margin-left: 0;
  }
  .main .abstract {
    padding: 30px 10px;
  }
  .main .latest-posts {
    padding: 1rem 0;
  }
  .main .latest-posts__abstract {
    width: 85%;
    margin-left: 0;
  }
  .main .latest-posts__par {
    margin: 1.5rem 0;
  }
  .main .latest-posts__btn {
    margin-left: 31%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .footer__know-us {
    width: 100%;
  }
  .footer__info {
    margin: 1rem 0;
  }
  .footer__find-us {
    width: 30%;
  }
}

.main-header--post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: auto;
}

@media screen and (min-width: 1366px) {
  .main-header .header--post {
    margin: 0;
    padding: 15vh;
  }
}

.main-header .header__main--post {
  font-size: 125px;
}

@media (max-width: 414px) {
  .main-header .header__main--post {
    font-size: 100px;
  }
}

.main-header .header__sub-header2--post {
  font-size: 49px;
  letter-spacing: 3px;
  text-align: center;
  margin-left: -15px;
}

@media (max-width: 414px) {
  .main-header .header__sub-header2--post {
    font-size: 40px;
  }
}

.main--post {
  margin-top: -3vh;
  position: relative;
  z-index: 9;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media (max-width: 414px) {
  .main--post {
    margin-top: -5vh;
  }
}

.main .sidebar--post {
  background-color: rgba(255, 255, 255, 0.8);
}

.main .post-content {
  margin: 0 4vw;
  padding: 5vh 15vw;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
          box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
}

@media (max-width: 414px) {
  .main .post-content {
    margin-bottom: 2vh;
  }
}

.main .post-content__article {
  position: relative;
  padding-bottom: 10vh;
  height: auto;
  margin-bottom: 5vh;
}

.main .post-content__article::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #FF6F64;
  position: absolute;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  width: 15%;
  bottom: 0;
}

.main .post-content__titles {
  color: #FF6F64;
  font-size: 16px;
  margin: 1rem 0;
}

.main .post-info__subtitles--post-cont {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.main .post-info__date-author--post-cont {
  color: #34558B;
  margin-bottom: 2vh;
}

.main .latest-posts__details--post-cont {
  margin-right: 30px;
}

.main .latest-posts__details--post-cont::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #FF6F64;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  margin-top: 5vw;
}

.main--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh 3vw;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .main--contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.main__contact-us {
  margin-bottom: 3rem;
}

.main__titles {
  padding: 3vh 3vw;
  margin-bottom: 5vh;
  background-color: white;
  border-left: 2px solid #FF6F64;
}

.main__contact-title-sm {
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  color: #6EBAF6;
}

@media screen and (min-width: 1024px) {
  .main__contact-title-sm {
    font-size: 24px;
  }
}

.main__contact-title-big {
  color: #34558B;
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 200;
}

@media screen and (min-width: 1024px) {
  .main__contact-title-big {
    font-size: 40px;
  }
}

.main__email {
  padding: 1rem;
  margin: 0 auto;
  background-color: rgba(110, 186, 246, 0.2);
  text-align: center;
  font-size: 28px;
}

@media screen and (min-width: 1024px) {
  .main__email {
    -webkit-transform: translateX(28%);
            transform: translateX(28%);
    width: 70%;
    font-size: 32px;
  }
}

.main__email > a {
  color: #34558B;
  font-weight: 600;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    width: 100%;
  }
}

.contact-form__input {
  padding: 1rem;
  border: 1px solid #34558B;
  margin: 15px 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.contact-form__input::-webkit-input-placeholder {
  font-family: 'Raleway';
}

.contact-form__input:-ms-input-placeholder {
  font-family: 'Raleway';
}

.contact-form__input::-ms-input-placeholder {
  font-family: 'Raleway';
}

.contact-form__input::placeholder {
  font-family: 'Raleway';
}

.contact-form__input:focus {
  border: 1px solid #FF6F64;
  outline: 1px solid #FF6F64;
}

.contact-form__btn{
  display: block;
  margin-top: 1.5rem;
}

span.wpcf7-list-item{
  margin:0;
}

.main--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px){
  .main--contact{
    flex-direction: row;
  }
}
.main--about{
  flex-direction: column;
}
.main .concept {
  margin: 0 auto;
  padding: 2rem;
  -webkit-transform: translateY(-13%);
          transform: translateY(-13%);
  background-color: #FFFFFF;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .main .concept {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@media screen and (min-width: 1024px) {
  .main .concept {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    width: 60%;
  }
}

.main .concept__title {
  font-family: "Oswald";
  font-size: 28px;
  color: #34558B;
  text-align: center;
  padding: .5rem;
  margin-bottom: 2vh;
}

@media screen and (min-width: 1024px) {
  .main .concept__title {
    padding: 0;
  }
}

.main .concept__par {
  line-height: 2.5;
}

@media screen and (min-width: 1024px) {
  .main .concept__par {
    padding: 3rem;
  }
}

.authors-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .authors-about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.authors-about__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

@media screen and (min-width: 768px) {
  .authors-about__author {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: 350px 1fr;
        grid-template-rows: 430px 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .authors-about__author {
    width: 45%;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
}

@media screen and (min-width: 1366px) {
  .authors-about__author {
    width: 40%;
  }
}

.authors-about__name {
  margin: 0;
  padding: .5rem;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  background-color: #34558B;
  text-align: left;
}

.authors-about__name::after {
  display: none;
}

.authors-about__title, .authors-about__email {
  margin: 1rem;
  font-weight: 200;
}

.authors-about__title {
  font-size: 20px;
  letter-spacing: 0px;
}

.authors-about__title::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  width: 40%;
  margin-top: 15px;
}

.authors-about__email {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.authors-about__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

.authors-about__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 35% top;
     object-position: 35% top;
}

.authors-about__img--wk img {
  -o-object-position: 25% 35%;
     object-position: 25% 35%;
}

.authors-about__bio {
  font-size: 16px;
  padding: 2rem;
  position: relative;
  z-index: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
          box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
}

.authors-about__par {
  color: black;
  font-weight: 400;
}

.content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.search-bar {
  --size: 40px;
  border: 2px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  height: var(--size);
  width: var(--size);
  padding: 3px;
  position: relative;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  overflow: hidden;
}

.search-bar__input {
  width: 100%;
  padding: 0 0.5rem;
  border: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: calc(var(--size) - 3px);
  opacity: 0;
  cursor: pointer;
}

.search-bar__input:focus {
  outline: 0;
}

.search-bar__submit {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #FF6F64;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  width: calc(var(--size) - 10px);
  height: calc(var(--size) - 10px);
  margin-left: auto;
  -webkit-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
}

.search-bar__submit:focus, .search-bar__submit:hover {
  outline: 0;
  -webkit-box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
          box-shadow: 0 3px 8px rgba(1, 1, 1, 0.3);
}

.search-bar:focus-within {
  width: 100%;
}

.search-bar:focus-within .search-bar__input {
  background-color: #FFFFFF;
  opacity: 1;
  cursor: initial;
}

.search-bar:focus-within .search-bar__submit {
  background-color: #6EBAF6;
}
/*# sourceMappingURL=main.css.map */